.FiltersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Filters {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fafbfd;

        .chartFilterButton {
            height: 40px;
            border: 1px solid #979797;
            border-radius: 0;
            color: #000;

            &.active {
                background-color: #000;
                color: #fff;
            }
            &.left {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            &.right {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            &:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.react-datepicker-popper {
    z-index: 10;
}